.bg-lightgray {
    background-color: #e9ecef;
}

.currency-separator{
    font-size: 24px;
}

.footer-text{
    font-size: 12px;
}

.footer-text > a{
    text-decoration: underline;
    color: #fff;
}